/* body */
body {
    background-color: black;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
input[type="button"] {
    cursor: pointer;
}

/* main */
#main {
	flex: 1;
	display: flex;
	flex-direction: row;
	margin: 40px 50px;
    color: white;
}

/* main_poster */
.bookmark_img {
 	position : absolute;
	top: 110px;
}
.bookmark_img:hover{
	transform: scale(1.5);
}
.b_on {
	left: 35px;
	width : 50px;
	height : 55px;
}
.b_off {
	left: 40px;
	width : 40px;
	height : 45px;
}
#main_poster {
	width: 262px;
    height: 386px;

    border-radius: 30px;
}

/* main info */
#main_info {
	display: flex;
	flex-direction: column;
	margin-top: 10px;
	margin-left: 60px;
	line-height: 0px;
}
#main_info table {
    margin-top: 30px;
    font-size: 20px;
}
#main_info th {
    text-align: left;
    height: 30px;
    width: 120px;
    color: #5F5F5F;
}
#main_info td {
    width: 400px;
    color: white;
}
#main_info a {
	color: white;
}

/* main buttons */
#main_btns {
    flex: 1;
    margin: 5px 50px;
    height: 65px;

    box-sizing: border-box;
    border-top: 3px solid #52057B;
    border-bottom: 3px solid #52057B;
}
.main_btns {
    margin-left: 10px;
    width: 150px;
    height: 60px;

    font-family: "Inter";
    font-size: 20px;
    font-weight: bold;

    color: white;
    background-color: black;
    border: none;
}
.main_btns:hover {
    background-color: rgba(85, 5, 123, 0.5);
    transition: 0.5s;
}
.main_btns:active {
    background-color: rgba(82, 5, 123);
}
.active {
    background-color: rgba(82, 5, 123);
}

/* contents */
.contents {
    flex: 1;
    margin: 20px 50px;
    color: white;
}
.bar {
    margin-right: 10px;
    width: 12px;
    height: 40px;
}
h1 {
    display: flex;
    align-items: center;
}
.more_btns, .close_btns, #write_end input {
    float: right;
    margin-left: 20px;
    
    width: 100px;
    height: 32px;

    font-family: "Inter";
    font-weight: bold;
    font-size: 15px;

    color: #892CDC;
    background-color: white;
    border: 3px solid white;
    border-radius: 35px;
}
.more_btns:hover, .close_btns:hover, #write_end input:hover {
    border: 3px solid #892CDC;
    transition: 0.5s;
}
.more_btns:active, .close_btns:active, #write_end input:active {
    transform: scale(0.95);
}